<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Categorias</h3>
            <button class="btn btn-info" href="/indexCategoria">Regresar</button>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <th>Id Categoria</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias" class="text-center">
                        <td>{{categoria.id_categoria}}</td>
                        <td>{{categoria.nombre_categoria}}</td>
                        <td>{{categoria.activo}}</td>
                        <td>
                            <button (click)="Editar(categoria)" class="btn btn-warning">Editar</button>
                        </td>
                        <td>
                            <button  class="btn btn-warning">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>