<!DOCTYPE html>
<html>
<head>
<style>
	.bd-placeholder-img {
	  font-size: 1.125rem;
	  text-anchor: middle;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	@media (min-width: 768px) {
	  .bd-placeholder-img-lg {
		font-size: 3.5rem;
	  }
	}
  </style>
  
</head>

<body>
  <!--BARRA DE NAVEGACION-->
  <app-top-navbar></app-top-navbar>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

  <!--PIE  DE PAGINA-->
  <app-footer></app-footer>

</body>
</html>
