<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Sistema de Ventas Garcia´s</h1>
        <p class="lead font-weight-normal">Somos una Microempresa dedicada a venta de productos
            y llevar todo su contabilidad de la suya </p>
        <a class="btn btn-outline-secondary" href="#">Iniciar Sesion</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block" style="background: url(../assets/img/mac.jpg);">
        <br>
        <h4 style="color: azure;">Movil responsive</h4>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Venta de Productos</h2>
            <p class="lead">Sistema Propio Para Ventas</p>
        </div>
        <div class="bg-white shadow-sm mx-auto">
            <img src="../assets/img/pro.jfif" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Renta de Software</h2>
            <p class="lead">Creacion de Software a Tus Necesidades</p>
        </div>
        <div class="bg-white shadow-sm mx-auto">
            <img src="../assets/img/sales.jpg" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
</div>